
    body{
    background-color: rgb(73, 73, 73);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/Carpetapex/Mylinks/imagenes/Fondo\ Negro\ Gris\ Difuminado.jpg");
}
.card{
    background-image: url(imagenes/We\ Heart\ It.gif);
    border:1px solid #e5e7eb;
    padding: 16px;
    width: 90%;
    max-width: 850px;
    border-radius: 8px ;
    box-shadow: 0 6px 18px rgba(16,24,40,0.6);
    margin-bottom: 20px; 
    }
    .cardtwo{
    background-color: black;
    border:1px solid #e5e7eb;
    padding: 16px;
    width: 90%;
    max-width: 850px;
    border-radius: 8px ;
    box-shadow: 0 6px 18px rgba(16,24,40,0.6);
    margin-bottom: 20px; 
    display: flex;
    }

h1,p{
    color:cadetblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    width: 50%;
    justify-content:flex-end}
